
/* CSS code */


* {
	box-sizing: border-box;
}


header {
    
    padding: 40px
}

/*background color for the whole body part of the page containing the main content*/
body {
    
    background-color: white;

}

/*Container CSS - used to allow the flex layout and positioning of each Title for the different Ride Category*/
.sectiontitlecontainer {
    
  display: flex;
  justify-content: center;
  padding-top: 100px;

    
}

.ridesectiontitle {
    
  background-color: #000080;
  border-radius: 15px;
  border: 2px solid #333333;
  width: 1000px;
  height: 100px;
/*  font-family is used to ensure there are font options for the browser and user*/
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  color: white;
  font-size: 18px;
  text-align: center;
  


}


/*The styling and positioning, background for the Main Title at the top of the page */

#RidesandAttractionsTitle {
    

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-style: oblique;
    letter-spacing: -1px;
    background-image: url("attractionspageimages/background2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
/* z- index allows the Page title to sit in front of the image background*/
    z-index: -1;
    color: white;
    padding: 50px;
    border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
   
   
    
    
}
/*CSS positioning and styling for class containing all ride columns*/

.rides {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    margin: 0 auto;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 100px;
    max-width: 1400px;
    justify-content: space-between;
    

}

/*Background and border for each ride column*/

.ride {
  
background: #E8E8E8;
border: 1px solid #808080;
box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .3);



    
}



/*Positioning for each of the Ride Images to fit in the column correctly.*/

.rideimage{
    
    object-fit: cover;
    display: flex;
    border: 3px solid #202020;
}

/* Positioning, background and font styling for the text and title of each ride*/

.ridedescription {
    padding-left: 20px;
    font-size: 14px;
    color: black;
    background: #E8E8E8;
    font-family:  Arial, Helvetica, sans-serif;

    

    
}


/*Layout for the bottom part of each column containing the ride*/

.ridefooter {
    
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 15px;
    font-size: 15px;
    font-family:  Arial, Helvetica, sans-serif;

    
}


/*Styling, positioning for the Buy Ticket Button*/

.TicketButton {
  color: white;
  cursor: pointer;
  background: #0080FF;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 14px ;
  padding-left: 14px;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;

    
    
}



    
    /*********************************************
FOOTER STYLE - Erick Gonzalez
*********************************************/

/* This body tag makes looks nice my presentation 
but it might clash with others, so keep an eye on this */
body{
	margin: 0;
}

footer{
	background-color: #000080;
	color: white;
}
/* Block containing all footer the cards */

footer .container{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-evenly;
}

footer .container .block{
	margin: 0px 40px 0px 20px;
}

footer a{
	color: white;
	text-decoration: none;
}

footer a:hover{
	color: gray;
}

footer h3{
	font-style: italic;
	text-decoration: underline;
}

footer img{
	
	width:30px;
	margin: 5px 0px;
}

/* Animation for Social Media Icons */
footer img:hover{
	animation-name: zoom;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes zoom{
	from{width: 30px;}
	to{width: 40px;}
}

footer #copyright{
	text-align: center;
	font-size: 12px;
	padding: 20px;
	margin:0
}

@media only screen and (max-width: 890px) {
	footer .container {
	  justify-content: unset;
	}
}
}



